.background {
    -fx-background-color: #2f3440;
}

.rootNavigation{
	-fx-background-color: white;
}
.rootLayout{
	-fx-background-color: #2f3440;
}
.field{
	-fx-background-color:#3f5666;
}


.emptyCircle{
	-fx-fill: white;
}
.yellowCircle{
	-fx-fill: #f8ca4d;
}
.redCircle{
	-fx-fill:#ea6045;	
}


.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-header-dark {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #2f3440;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-dark {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #2f3440;
    -fx-opacity: 1;
}

.button {
    -fx-padding: 5 22 5 22;
       -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2f3440;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}
.button-small {
    -fx-padding: 5 10 5 10;
       -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #2f3440;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #2f3440;
   -fx-border-color: #2f3440;
    -fx-border-width: 1;
}

.button-selected {
  -fx-background-color: white;
  -fx-text-fill: #2f3440;
   -fx-border-color: #2f3440;
    -fx-border-width: 1;
   -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}


.button:focused {
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,50%);
}